.title {
  display: none;
}

.title.active {
  display: block;
}

.photos__wrapper {
  text-align: center;
}
.wrapper__post {
  margin-bottom: 15px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: rgb(210, 182, 140);
  color: blanchedalmond;
  padding: 10px 0 ;
  font-weight: bold;
}
.btn__delete {
  margin-top: 10px;

}
input {
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0;
  border-radius: 10px;
  text-align: center;
}
.input__wrapper {
  margin-bottom: 5px;
}
.inputs {
  max-width: 784px;
  width: 100%;
  margin: 0 auto 10px;
}
.buttons {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}